## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio
.vs/
*.ncrunch*
*.suo
*.user
*.userosscache
*.sln.docstates

## Rider
.idea/

## Macro Deck plugin dev state
.macrodeck-dev-state/

## Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

## NuGet
*.nupkg
*.snupkg
packages/
!packages/build/

## Local feed
local-feed/

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
